<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
<style>
    div {
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightblue;
  padding: 50px;
}
body{
     background-color: powderblue;
}
</style>
<body ng-app="myApp">
<center>
<h1>Mk Tutorials</h1>
<p><a href="#/!">Home</a></p>

<a  href="#!spa"><button>SPA</button></a>
<a href="#!spaf"><button>SPA-Features</button></a>
<hr>
</center>
<p>Click on the links.</p>

<p>Note that each "view" has its own controller which each gives the "msg" variable a value.</p>

<div ng-view></div>

<script>
var app = angular.module("myApp", ["ngRoute"]);
app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        template: "<h1>Welcome</h1>",
    })
    .when("/spa", {
        template : "<p>Template: <b>{{msg}}</b></p> <h2>Single Page Application</h2><div> <p>Angularjs is the most preferred platform for creating a single page application because it offers so many features and inbuilt components. The single page application (SPA) basically a web app whose all functionalities are framed on a single page where user can navigate different sections of the page by clicking on its dedicated links or buttons.</p> </div>",
    controller : "spaCtrl"
    })
    .when("/spaf", {
        template : "<p>Template: <b>{{msg}}</b></p> <h2>Features of Single Page Application</h2> <div> <p> <b>1. Simple to use interface:</b> <br>The biggest advantage of creating a SPA is retaining the userâs focus on the web app. The user doesnât need to navigate between pages hence the user experience is improved <br> <br> <b>2. No Page Refresh:</b> <br> In SPA, the resources donât need to get refreshed every time a user clicks on a different division of the page. <br> <br> <b>3. Code is rendered on the same page:</b> <br> SPA is the best when it comes to the code optimization as all the HTML, CSS and JS files are rendered on the same page.</p> </div>",
        controller : "spafCtrl"
    });
});
app.controller("spaCtrl", function ($scope) {
    $scope.msg = "SPA";
});
app.controller("spafCtrl", function ($scope) {
    $scope.msg = "SPAF";
});

</script>

</body>
</html>
