<html>
<head>
<title>5) Greeting Application</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body bgcolor="powderblue">
<center>
<h1>Mk Greeting Application</h1>
<h3>Enter your Name here</h3>
<div ng-app="a1" ng-controller="myCtrl">
    Name: <input ng-model="name"> <br>
    <h2>Hello {{name}}. Good Morning.</h2>
</div>
</center>

<script>
var app = angular.module('a1', []);
app.controller('myCtrl', function($scope) 
{ 
$scope.name = "Meiy";     
});
</script>

<br><p>If you type inside the textbox, the content below the textbox also changes</p>
</body>
</html>
